<h1>Editing Basecamp Integration</h1>

<%= render 'form', basecamp_integration: @basecamp_integration %>

<%= link_to 'Show', @basecamp_integration %> |
<%= link_to 'Back', basecamp_integrations_path %>
