




<button>Skill 1</button>
<button>Skill 2</button>
<button>Skill 3</button>
<button>Skill 4</button>



<div>
	<h3>Skills</h3>
	
	<ul>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
		<li>
		</li>
	</ul>
</div>