<p id="notice"><%= notice %></p>

<p>
  <strong>Banal brainstorm:</strong>
  <%= @waymo_slomo.banal_brainstorm_id %>
</p>

<%= link_to 'Edit', edit_waymo_slomo_path(@waymo_slomo) %> |
<%= link_to 'Back', waymo_slomos_path %>
