<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @code_change_request.text %>
</p>

<%= link_to 'Edit', edit_code_change_request_path(@code_change_request) %> |
<%= link_to 'Back', code_change_requests_path %>
