<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<div class="container">


<% §∆(CHANGE_HACKY_DUPLICATE_DEFINITION_OF_INSTANCE_VARIABLE, identifier: '@copies-for-copies/index-view', instance_variable: lambda { instance_variable_get(:@copies)} ) do %>
		<%   @copies = 100.times.map { Copy.new } %>
<% end %>
		  <div class="row">
			  <% ❌(CHANGE_HACKY_DUPLICATE_DEFINITION_OF_INSTANCE_VARIABLE, { identifier: '@copies-for-copies/index-view' }, :nil_error_was_here_before_duplicate_definition) do %>
			  
			  	<% @copies_slices = @copies.each_slice(10) %>
			  
  			  <% end %>
			  
			  
		      <% @copies_slices.each do |copies_slice_of_10| %>
			  	
				
				
			  
			<!--- better would be anothere. layer of erb, like .paragraphs, since this doens't work with ruby code flow anymore --->
			  
				
				<% copies_slice_of_10.each do |copy| %>
		    		<div class="col-sm">
        				<input value="<%= copy.text %>" />
		   	 		</div>
				<% end %>

			  <% end %>
			  
		  </div>
		</div>
