<p id="notice"><%= notice %></p>

<p>
  <strong>Global path:</strong>
  <%= @gltf_model.global_path %>
</p>

<%= link_to 'Edit', edit_gltf_model_path(@gltf_model) %> |
<%= link_to 'Back', gltf_models_path %>
