<h1>Editing App Detection Strategy</h1>

<%= render 'form', app_detection_strategy: @app_detection_strategy %>

<%= link_to 'Show', @app_detection_strategy %> |
<%= link_to 'Back', app_detection_strategies_path %>
