<h1>Editing Whitelabel System Extension</h1>

<%= render 'form', whitelabel_system_extension: @whitelabel_system_extension %>

<%= link_to 'Show', @whitelabel_system_extension %> |
<%= link_to 'Back', whitelabel_system_extensions_path %>
