<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @visualization.image_url %>
</p>

<%= link_to 'Edit', edit_visualization_path(@visualization) %> |
<%= link_to 'Back', visualizations_path %>
