<h1>Editing Ezii Refactoring Comby</h1>

<%= render 'form', ezii_refactoring_comby: @ezii_refactoring_comby %>

<%= link_to 'Show', @ezii_refactoring_comby %> |
<%= link_to 'Back', ezii_refactoring_combies_path %>
