<h1>Editing Ezii Delta Direction</h1>

<%= render 'form', ezii_delta_direction: @ezii_delta_direction %>

<%= link_to 'Show', @ezii_delta_direction %> |
<%= link_to 'Back', ezii_delta_directions_path %>
