<h1>Editing App Detection Analysis</h1>

<%= render 'form', app_detection_analysis: @app_detection_analysis %>

<%= link_to 'Show', @app_detection_analysis %> |
<%= link_to 'Back', app_detection_analyses_path %>
