<h1>Editing Ezii Robot Experiment</h1>

<%= render 'form', ezii_robot_experiment: @ezii_robot_experiment %>

<%= link_to 'Show', @ezii_robot_experiment %> |
<%= link_to 'Back', ezii_robot_experiments_path %>
