<h1>Editing Wit Ai Parse Model Example</h1>

<%= render 'form', wit_ai_parse_model_example: @wit_ai_parse_model_example %>

<%= link_to 'Show', @wit_ai_parse_model_example %> |
<%= link_to 'Back', wit_ai_parse_model_examples_path %>
