<h1>Editing Banal Business Testcase</h1>

<%= render 'form', banal_business_testcase: @banal_business_testcase %>

<%= link_to 'Show', @banal_business_testcase %> |
<%= link_to 'Back', banal_business_testcases_path %>
