          <%= render 'shared/imprint' %>


<h1>
eZii FREEZE
</h1>

<img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/snowy-landscape-royalty-free-image-621983566-1542812946.jpg?crop=1.00xw:0.590xh;0,0.327xh&resize=1000:*" /
>

<iframe width="560" height="315" src="https://www.youtube.com/embed/cNHdDGd6AwY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<div style='background-color: yellow; color: black; font-size: 3em;'>
<p>
<span style="background-color: white; color: black">Deutsch</span>
Martin Selllner verwendet NLP (Neuro Linguistisches Programmieren - Neu-sprachlilches (z.b. visuelle Elemente) Programmmieren) in seinen Videos:

Die nach rechts fließenden Pfeile animieren den Betrachter, den Krieg in Fröhlichkeit zu antizipieren.

Ich mache das auch im roten Element unten (HTML-Tag "marquee"), aber in die entgegengesetzte Richtung.
</p>
<p>
<span style="background-color: white; color: black">English</span>
Martin Selllner uses NLP (Neuro-Linguistic Programming, for example visual elements) in his videos:

The arrows which flow to the right animate the viewer to anticipate war in happyness.


I'm doing this as well in the marquee, but in the opposite direction.
</p>
</div>

<div style='background-color: black; color: white; font-size: 3em;'>
    <p>

    Hitler and the Nazi regime were also responsible for the killing of an estimated 19.3 million civilians and prisoners of war. In addition, 28.7 million soldiers and civilians died as a result of military action in the European theatre.

    </p>



    <pre style='background-color: red; font-size: 5em;'>
    <code>
    <marquee>
    Millionen Deutsche <- sind gestorben aufgrund <- von dummen, naiven <- Grôßenwahn.
    </marquee>
    </pre>
    </code>
</div>